<!DOCTYPE html>
<html>

    <head>
        <title>Feature Request System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/foundation.min.css">
        <link rel="stylesheet" href="/static/css/foundation-datepicker.min.css">
        <link rel="stylesheet" href="/static/css/common.css">
    </head>

    <body>
        <div id="container">
            <header>
                <h1>Feature Request System</h1>
            </header>
            <form action="">
                <select id="client_selector" data-bind="options: clients, optionsText: 'name', optionsValue: 'value', optionsCaption: 'Select a client...', value:activeClient"></select>
            </form>
            <div data-bind="visible: activeClient(), css: { 'ko-hidden': false }" id="client_manager">

                <ul class="tabs" data-tabs id="tabbed-nav">
                    <li id="client_requests_tab" class="tabs-title is-active"><a href="#client_requests" aria-selected="true">Current Requests</a></li>
                    <li id="create_request_tab" class="tabs-title"><a href="#new_request_form">Create New Request</a></li>
                </ul>

                <div class="tabs-content" data-tabs-content="tabbed-nav">
                    <div id="client_requests" class="ko-hidden tabs-panel">

                        <h2>Current Requests</h2>
                        <p data-bind="ifnot: featureRequests()">No requests found.</p>

                        <div id="feature_request_list" data-bind="foreach: featureRequests">
                            <div class="feature_request">
                                <h3 data-bind="text: title"></h3>
                                <div class="row meta collapse">
                                    <div class="column small-12 medium-4">
                                        <p class="target_date"><strong>Target Date:</strong><span data-bind="text: target_date"></span></p>
                                    </div>
                                    <div class="column small-12 medium-4">
                                        <p class="priority"><strong>Priority:</strong><span data-bind="text: priority"></span></p>
                                    </div>
                                    <div class="column small-12 medium-4">
                                        <p><strong>Product Area:</strong> <span class="product_area" data-bind="text: product_area"></span></p>
                                    </div>
                                </div>

                                <p class="description" data-bind="text: description"></p>
                            </div>
                        </div>
                        <!--
                        <p><button type="button" class="button" data-bind="click: changeState.bind($data, 'create')">Add New Feature Request &raquo;</button></p>
                        -->
                    </div>

                    <div id="new_request_form" class="ko-hidden tabs-panel" data-tabs-content="tabbed-nav" data-bind="visible: activeClient(), css: { 'ko-hidden': false }">
                        <h2 class="row column">Create New Feature Request</h2>
                        <form action="create/" method="POST" data-abide novalidate>
                            <div data-abide-error class="alert callout" style="display: none;">
                                <p><i class="fi-alert"></i> You missed a few fields below!</p>
                            </div>

                            <input type="hidden" name="client" data-bind="value: activeClient">

                            <div class="row column">
                                <label>Title
                                    <input type="text" name="title" value="" required>
                                    <span class="form-error">
                                        Please enter a title
                                    </span>
                                </label>
                            </div>

                            <div class="row column">
                                <label>Description
                                    <textarea name="description" required></textarea>
                                    <span class="form-error">
                                        Please enter a description
                                    </span>
                                </label>
                            </div>

                            <div class="row">
                                <div class="column small-12 medium-4">
                                    <label>Priority
                                        <input type="number" name="priority" value="1" required>
                                        <p class="help-text" id="priorityHelpText">A lower number means a higher priority (eg. priority #1 gets done before priority #2)</p>
                                    </label>
                                </div>

                                <div class="column small-12 medium-4">
                                    <label>Product Area
                                        <select name="product_area" data-bind="options:product_areas" required></select>
                                    </label>
                                </div>

                                <div class="column small-12 medium-4">
                                    <label>Target Date
                                        <input type="text" id="target_date" name="target_date" required>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column small-12">
                                    <input type="submit" name="submit" value="Submit &raquo;" class="button success">
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- end .tabs-content -->
            </div><!-- end #client_manager -->
        </div><!-- end #container -->
        <script type='text/javascript' src='/static/js/jquery-3.2.1.min.js'></script>
        <script type='text/javascript' src='/static/js/foundation.min.js'></script>
        <script type='text/javascript' src='/static/js/foundation-datepicker.min.js'></script>
        <script type='text/javascript' src='/static/js/knockout-3.4.2.js'></script>
        <script type="text/javascript" src='/static/js/main.js'></script>
    </body>

</html>
